{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block head %}
{{super()}}
{% endblock %}
{% block body %}
    <div>
        <form action="" method="POST">
            <div>
                <label for="n_usuario">Nombre</label>
                <input type="text" id="n_usuario" name="n_usuario">
            </div>
            <div>
                <label for="usuario">Nombre de Usuario:</label>
                <input type="text" id="usuario" name="usuario" >
            </div>
            <div>
                <label for="direccion">Roll</label>
                <input type="text" id="roll" name="roll"> 
            </div>
            <div>
                <label for="password">Contraseña:</label>
                <input type="password" id="password" name="password">
            </div>
            <div>
                <label for="c_password">Confirme contraseña:</label>
                <input type="password" id="c_password" name="c_password">
            </div>
            
            <input type="submit" name="enviar" value="Enviar">
        </form>
    </div>
{% endblock %}