<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar contraseña</title>
</head>
{% block body %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div>
                <p>{{ messages }}</p>
                <input type="submit" name="enviar" value="Enviar">
            </div>
        {% endif %}
    {% endwith %}
    <div>
        <form action="" method="POST">
            <div>
                <a for="regresar" href="/u_opciones"> <img src="/static/Regresar.png" alt="" width="2.5%" height="2.5%"> </a>
            </div>
            <div>
                <label for="usuario">Nombre de usuario</label>
                <input type="text" id="usuario" name="usuario" required>
            </div>
            <div>
                <label for="password">Contraseña:</label>
                <input type="password" id="password" name="password" required>
            </div>
            
            <input type="submit" name="enviar" value="Enviar">
        </form>

    </div>
{% endblock %}
</html>
