<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuario</title>
</head>
<body>
    <div>
        <a for="regresar" href="/"><img src="/static/Regresar.png" alt="2.5%"height="2.5%"></a>
    </div>
    <div> <div><img src="/static/avatar.png" width="50"></div>
    <div>            
        <ul>
            <li><a href="/" class="liga_pie">Inicio</a></li>
        </ul>
</body>
</html>